<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <script src="/static/polymer/polymer.js"></script>
        <script src="/static/js/Chart.js"></script>
        <link rel="import" href="/static/templates/polymer-process.html" />
        <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
    </head>

    <body>
        <h1>CPU dashboard</h1>
        <process url="/process" name="Global" refresh="1000" width="960" height="150" size="15"></process>
        <process url="/process/Finder" name="Finder" refresh="1000" width="280" height="150" size="10"></process>-
        <process url="/process/Mail" name="Mail" refresh="1000" width="280" height="150" size="10"></process>
    </body>
</html>

