<element name="websocket" attributes="url response autostart">
  <script>
    Polymer.register(this, {
      response: '',
      autostart: false,
      url: '',
      ready: function() {
        // Cleanly close websocket when unload window
        window.addEventListener('beforeunload', this.beforeUnload.bind(this));
        if(!window.WebSocket) {
          console.error("This browser does not support WebSockets");
        }
      },
      urlChanged: function() {
        this.ws = new WebSocket("ws://" + document.domain + ':8888/cpu/' + this.url);
        this.ws.onmessage = this.receive.bind(this);
      },
      beforeUnload: function() {
        this.ws.onclose = function () {}; // disable onclose handler first
        this.ws.close();
      },
      receive: function(msg) {
        this.response = JSON.parse(msg.data);
      },
      send: function(data) {
        this.ws.send(data);
      }
    });
  </script>
</element>

<element name="graph" attributes="width height coord size">
  <template>
    <canvas id="canvas"></canvas>
  </template>
  <script>
    Polymer.register(this, {
      width: 100,
      height: 100,
      size: 10,
      xvalues: [],
      yvalues: [],
      ctx: null,
      coord: null,
      ready: function() {
        this.xvalues = (function(self) {
          for(var i=self.size-1, a=[]; i>=0; i--) {
            a.push("");
          }
          return a;
        })(this);
        this.yvalues = new Array(this.size);
        this.$.canvas.width = this.width;
        this.$.canvas.height = this.height;
        this.ctx = this.$.canvas.getContext("2d");
        this.datasets = [{
          fillColor : "rgba(151,187,205,0.5)",
          strokeColor : "rgba(151,187,205,1)",
          pointColor : "rgba(151,187,205,1)",
          pointStrokeColor : "#fff",
          data : this.yvalues
        }];
      },
      reset: function() {
        this.ctx.clearRect(0, 0, this.width, this.height);
      },
      draw: function(xvalues, yvalues) {
        this.reset();
        this.datasets[0]['data'] = yvalues;
        var data = {labels: xvalues, datasets: this.datasets};
        new Chart(this.ctx).Line(data, {
            animation: false
          });
      },
      coordChanged: function() {
        if(!(this.coord.x && this.coord.y)) return;
        this.xvalues.shift();
        this.xvalues.push(this.coord.x);
        this.yvalues.shift();
        this.yvalues.push(this.coord.y);
        this.draw(this.xvalues, this.yvalues);
      }
    });
  </script>
</element>

<element name="cpu" attributes="url width height">
  <template>
    <websocket id="socket" url="{{url}}" response="{{response}}"></websocket>
    <graph id="graph" size="20" coord={{response}} width="300" height="150"></graph>
  </template>
  <script>
    Polymer.register(this, {
        response: {},
        reponseChanged: function() {
          console.log(this.reponse);
        },
        ready: function() {
          var self = this;
          setTimeout(function(){self.$.socket.send()}, 300);
        }
    });
  </script>
</element>
