<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <script src="/static/polymer/polymer.js"></script>
    <script src="/static/js/raphael.js"></script>
    <script src="/static/js/g.raphael.js"></script>
    <script src="/static/js/g.line.js"></script>
    <link rel="import" href="/static/templates/components.html">
  </head>
  <body id="root">
    <system-widget socketUrl="global" id="global"></system-widget>
    <!--<system socketUrl="firefox" id="firefox"></system>-->
  </body>
</html>

